@keyframes show {
  0% {
    opacity: 0.1;
  }
  
  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#score-bar > * {
  display: inline-block;
}

#btn-wrapper {
  margin-top: 1rem;
}

.btn {
  font-size: 17px;
  height: 36px;
  color: #f9f6f2;
  border-radius: 3px;
  border: 0px;
  padding: 8px 13px 10px 13px;
  margin-right: 20px;
}

.btn:hover {
  opacity: 0.8;
  border: 1px solid black;
}

#save {
  background-color: rgb(46, 147, 165);
}

#new {
  float: right;
  background-color: darkgreen;
}

div#playboard, div#score, div#score-bar {
  width: 336px;
  position: relative;
  margin: auto;
  text-align: left;
}

.ctrls {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-ctrl {
  padding: 1rem;
  margin: 0 0.4rem 0.8rem 0.4rem;
  border: 1px solid #385850;
  border-radius: 10px;
  background-color: #e1ffc2;
  color: #092532;
  text-align: center;
  font-weight: bold;
}

.btn-ctrl:hover {
  opacity: 0.7;
}

#game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(228, 222, 222, 0.623);
  border-radius: 5px;
  -webkit-animation: show 0.4s ease-out normal;
  animation: show 0.4s ease-out normal;
}

div#result {
  position: absolute;
  top: 20%;
  transform: translate(0, -20%);
  width: 100%;
  text-align: center;
}

#result h4 {
  color: rgba(67, 35, 136, 0.822);
  font-size: 50px;
  text-align: center;
  width: 100%;
}

#result button {
  font-size: 20px;
  border: 0px;
  background-color: rgba(20, 179, 144, 0.808);
  border-radius: 7px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bolder;
}

#score {
  width: 70%;
}

/* #leaderboard {
  margin-left: 2rem;
}  */

table, th, td {
  border: 2px solid rgb(1, 14, 70);
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;    
}

th {
  background-color: #97c1c59a;
}

td {
  background-color: #e7dfd575;
}
