.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div#title {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

#board > * {
  display: inline-block;
  vertical-align: bottom;
}

#board {
  text-align: center;
}

#desc {
  color: rgb(16, 34, 138);
}
