/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
  user-select: none;
  outline-style:none;
  border-color:transparent;
  box-shadow:none;
}

body {
  background-color: #dcf0ed3d;
  color: #5d658d;
  text-align: center;
}